header{
	width: 60%;
	margin: 0 auto;
	text-align:center;
}

.calcContainer {
	width: 60%;
	margin: 0 auto;
}

.calcButtons button {
	width: 31%;
	margin: 2px 2px 2px 2px;
	padding-top: 4%;
	padding-bottom: 4%;
	border-radius: 15px;
}
